@import '../../common/constants.scss';

.button {
    padding: 10px;
    background-color: $main-color;
    border: 1px solid $border-color;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    @media (min-width: $mobile) {
        font-size: 18px;
    }
    &:hover {
        box-shadow: 5px 5px 14px 0px rgba(143, 112, 112, 1);
    }
}
